<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web09_jquery</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletDemo1</display-name>
    <servlet-name>ServletDemo1</servlet-name>
    <servlet-class>com.itheima.jquery.web.servlet.ServletDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo1</servlet-name>
    <url-pattern>/ServletDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo2</display-name>
    <servlet-name>ServletDemo2</servlet-name>
    <servlet-class>com.itheima.jquery.web.servlet.ServletDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo2</servlet-name>
    <url-pattern>/ServletDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo3</display-name>
    <servlet-name>ServletDemo3</servlet-name>
    <servlet-class>com.itheima.jquery.web.servlet.ServletDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo3</servlet-name>
    <url-pattern>/ServletDemo3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProvinceServlet</display-name>
    <servlet-name>ProvinceServlet</servlet-name>
    <servlet-class>com.itheima.jquery.web.servlet.ProvinceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProvinceServlet</servlet-name>
    <url-pattern>/ProvinceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityServlet</display-name>
    <servlet-name>CityServlet</servlet-name>
    <servlet-class>com.itheima.jquery.web.servlet.CityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityServlet</servlet-name>
    <url-pattern>/CityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProvinceJOSNServlet</display-name>
    <servlet-name>ProvinceJOSNServlet</servlet-name>
    <servlet-class>com.itheima.jquery.web.servlet.ProvinceJOSNServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProvinceJOSNServlet</servlet-name>
    <url-pattern>/ProvinceJOSNServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityJOSNServlet</display-name>
    <servlet-name>CityJOSNServlet</servlet-name>
    <servlet-class>com.itheima.jquery.web.servlet.CityJOSNServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityJOSNServlet</servlet-name>
    <url-pattern>/CityJOSNServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProvinceServletDemo1</display-name>
    <servlet-name>ProvinceServletDemo1</servlet-name>
    <servlet-class>com.itheima.jquery.web.servlet.ProvinceServletDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProvinceServletDemo1</servlet-name>
    <url-pattern>/ProvinceServletDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityServletDemo1</display-name>
    <servlet-name>CityServletDemo1</servlet-name>
    <servlet-class>com.itheima.jquery.web.servlet.CityServletDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityServletDemo1</servlet-name>
    <url-pattern>/CityServletDemo1</url-pattern>
  </servlet-mapping>
</web-app>