<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>username</param-name>
    <param-value>XCM</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>317</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ServletDemo1</display-name>
    <servlet-name>ServletDemo1</servlet-name>
    <servlet-class>com.itheima.servlet.demo1.ServletDemo1</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>xcm</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo1</servlet-name>
    <url-pattern>/ServletDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo2</display-name>
    <servlet-name>ServletDemo2</servlet-name>
    <servlet-class>com.itheima.servlet.demo1.ServletDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo2</servlet-name>
    <url-pattern>/ServletDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo3</display-name>
    <servlet-name>ServletDemo3</servlet-name>
    <servlet-class>com.itheima.servlet.demo1.ServletDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo3</servlet-name>
    <url-pattern>/ServletDemo3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo4</display-name>
    <servlet-name>ServletDemo4</servlet-name>
    <servlet-class>com.itheima.servlet.demo1.ServletDemo4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo4</servlet-name>
    <url-pattern>/ServletDemo4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo5</display-name>
    <servlet-name>ServletDemo5</servlet-name>
    <servlet-class>com.itheima.servlet.demo1.ServletDemo5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo5</servlet-name>
    <url-pattern>/ServletDemo5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseDemo1</display-name>
    <servlet-name>ResponseDemo1</servlet-name>
    <servlet-class>com.itheima.response.demo1.ResponseDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo1</servlet-name>
    <url-pattern>/ResponseDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseDemo2</display-name>
    <servlet-name>ResponseDemo2</servlet-name>
    <servlet-class>com.itheima.response.demo1.ResponseDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo2</servlet-name>
    <url-pattern>/ResponseDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDemo1</display-name>
    <servlet-name>RequestDemo1</servlet-name>
    <servlet-class>com.itheima.request.demo1.RequestDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo1</servlet-name>
    <url-pattern>/RequestDemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDemo2</display-name>
    <servlet-name>RequestDemo2</servlet-name>
    <servlet-class>com.itheima.request.demo1.RequestDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo2</servlet-name>
    <url-pattern>/RequestDemo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestTest1</display-name>
    <servlet-name>RequestTest1</servlet-name>
    <servlet-class>com.itheima.request.test1.RequestTest1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestTest1</servlet-name>
    <url-pattern>/RequestTest1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestTest2</display-name>
    <servlet-name>RequestTest2</servlet-name>
    <servlet-class>com.itheima.request.test1.RequestTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestTest2</servlet-name>
    <url-pattern>/RequestTest2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestTest01</display-name>
    <servlet-name>RequestTest01</servlet-name>
    <servlet-class>com.itheima.request.test.RequestTest01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestTest01</servlet-name>
    <url-pattern>/RequestTest01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestTest02</display-name>
    <servlet-name>RequestTest02</servlet-name>
    <servlet-class>com.itheima.request.test.RequestTest02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestTest02</servlet-name>
    <url-pattern>/RequestTest02</url-pattern>
  </servlet-mapping>
</web-app>