<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web08_crud</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductFindAllServlet</display-name>
    <servlet-name>ProductFindAllServlet</servlet-name>
    <servlet-class>com.itheima.product.web.servlet.ProductFindAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductFindAllServlet</servlet-name>
    <url-pattern>/ProductFindAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductAddServlet</display-name>
    <servlet-name>ProductAddServlet</servlet-name>
    <servlet-class>com.itheima.product.web.servlet.ProductAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductAddServlet</servlet-name>
    <url-pattern>/ProductAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductUpdateServlet</display-name>
    <servlet-name>ProductUpdateServlet</servlet-name>
    <servlet-class>com.itheima.product.web.servlet.ProductUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductUpdateServlet</servlet-name>
    <url-pattern>/ProductUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductEditServlet</display-name>
    <servlet-name>ProductEditServlet</servlet-name>
    <servlet-class>com.itheima.product.web.servlet.ProductEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductEditServlet</servlet-name>
    <url-pattern>/ProductEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDeleteServlet</display-name>
    <servlet-name>ProductDeleteServlet</servlet-name>
    <servlet-class>com.itheima.product.web.servlet.ProductDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDeleteServlet</servlet-name>
    <url-pattern>/ProductDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDeleteAllServlet</display-name>
    <servlet-name>ProductDeleteAllServlet</servlet-name>
    <servlet-class>com.itheima.product.web.servlet.ProductDeleteAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDeleteAllServlet</servlet-name>
    <url-pattern>/ProductDeleteAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSearchServlet</display-name>
    <servlet-name>ProductSearchServlet</servlet-name>
    <servlet-class>com.itheima.product.web.servlet.ProductSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearchServlet</servlet-name>
    <url-pattern>/ProductSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductFindByPageServlet</display-name>
    <servlet-name>ProductFindByPageServlet</servlet-name>
    <servlet-class>com.itheima.product.web.servlet.ProductFindByPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductFindByPageServlet</servlet-name>
    <url-pattern>/ProductFindByPageServlet</url-pattern>
  </servlet-mapping>
</web-app>