<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- spring整合hibernate方式一 -->
	<!-- <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
	</bean> -->
	
	<!-- spring整合hibernate方式二  -->
	<!-- 加载properties文件 -->
	<context:property-placeholder location="classpath:db.properties" />
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!-- 加载链接池 -->
		<property name="dataSource" ref="dataSource"/>
		
		<property name="hibernateProperties">
			<!-- 下面书写不能省略hibernate -->
			<props>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>	
		</property>
		
		<!-- 加载hibernate的Xxx.hbm.配置文件 -->
		<property name="mappingResources">
			<list>
				<value>cn/itcast/domain/User.hbm.xml</value>
			</list>
		</property>
		
		<!-- <property name="mappingLocations"> <list> <value>classpath:cn/itcast/domain/User.hbm.xml</value> 
			</list>
		</property>
		<property name="mappingDirectoryLocations"> <list> <value>classpath:cn/itcast/domain</value> 
			</list>
		</property> -->
	</bean>
	
	<!-- 配置链接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClass}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<!-- Dao -->
	<bean id="userDao" class="cn.itcast.dao.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- Service -->
	<bean id="userService" class="cn.itcast.service.UserServiceImpl">
		<property name="userDao" ref="userDao" />
	</bean>
	
	<!-- 声明事物管理 -->
	<!-- 事物管理 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- 通知 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="find*" read-only="true"/>
			<tx:method name="add"/>
			<tx:method name="del"/>
			<tx:method name="update"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- 切面 -->
	<aop:config>
		<aop:pointcut expression="execution(* cn.itcast.service.*..*(..))" id="myPointcut"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="myPointcut"/>
	</aop:config>
	
	<!-- <bean id="userAction" class="cn.itcast.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"/>
	</bean> -->
	
	<bean id="userAction" class="cn.itcast.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"/>
	</bean> 
	
	<!-- <bean id="userAction" class="cn.itheima.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"/>
	</bean> -->
</beans>








