<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/data/jpa 
		http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
	
	<!-- 
		jpa : java persistence api  java持久层技术的API接口
			hibernate 只是JPA的一个具体实现
			ElipseLink  OpenLink......
	
	 -->
	 <!-- Spring IOC注解包扫描 -->
	<context:component-scan base-package="cn.itcast"/>
	
	<!-- 加载外部的properties配置文件，作用：加载数据库连接的四个属性 -->
	<context:property-placeholder location="classpath:config.properties" />
	
	<!-- c3p0连接池的配置 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	<!-- 
		SessionFactory             LocalSessionFactoryBean
			Session
		EntityManagerFactory        LocalContainerEntityManagerFactoryBean
			EntityManager
	
	 -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 包扫描，扫描的是实体类里面的映射注解 -->
		<property name="packagesToScan" value="cn.itcast.bos.domain" />
		<!-- 持久化供应商 -->
		<property name="persistenceProvider">
			<bean class="org.hibernate.jpa.HibernatePersistenceProvider" />
		</property>
		<!-- jpa的适配器 -->
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<!-- 相当于 hibernate.hbm2ddl.atuo 自动创建表 -->
				<property name="generateDdl" value="true" />
				<!-- 使用的数据库类型 -->
				<property name="database" value="ORACLE" />
				<!-- 数据库方法 -->
				<property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect" />
				<!-- 是否显示sql语句，建议开发过程中使用 -->
				<property name="showSql" value="true" />
			</bean>
		</property>
		<!-- jpa的方言 -->
		<property name="jpaDialect">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
		</property>
		<!-- 可选配置 
		<property name="jpaPropertyMap">
			<map>
				<entry key="hibernate.query.substitutions" value="true 1, false 0" />
				<entry key="hibernate.default_batch_fetch_size" value="16" />
				<entry key="hibernate.max_fetch_depth" value="2" />
				<entry key="hibernate.generate_statistics" value="true" />
				<entry key="hibernate.bytecode.use_reflection_optimizer"
					value="true" />
				<entry key="hibernate.cache.use_second_level_cache" value="false" />
				<entry key="hibernate.cache.use_query_cache" value="false" />
			</map>
		</property>
		-->
	</bean>
	<!-- 事务管理器
		HibernateTransactionManager
		DataSourceTransactionManager
		JpaTransactionManager
	 -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<!-- 开启注解事务
		Service  @Transactional
					method
					类  建议收用
					接口
	 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- 整合spring data jpa -->
	<jpa:repositories base-package="cn.itcast.bos.dao" />
	
	<!-- 引入webService -->
	<import resource="applicationContext-webService.xml"/>
	
	<!-- 引入quartz -->
	<import resource="applicationContext-quartz.xml"/>
	
	<!-- 引入mq -->
	<import resource="applicationContext-mq.xml"/>
	
	<!-- 引入elasticsearch -->
	<import resource="applicationContext-elasticsearch.xml"/>
	
	<!-- 引入shiro -->
	<import resource="applicationContext-shiro.xml"/>
	
	<!-- 引入ehcache -->
	<!-- <import resource="applicationContext-cache.xml"/> -->
</beans>